nav {
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    border: 5px solid white;
    color: white;
   
}

#logo {
    font-size: 25px;
    color: #f08804;
}
button{
background-color: #f08804;
color: white;
}
a {
    margin-right: 200px;
    text-decoration: none;
}
